* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #555;
  font-family: Roboto slab, sans-serif;
  font-weight: 300;
  size: 20px;
  text-rendering: optimizeLegibility;
}
/* .row {
  margin: 0;
  max-width: 1140px;
} */

header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(114, 107, 107, 0.3)
    ),
    url("img/hero.jpg");
  background-size: cover;
  height: 100vh;
  background-position: cover;
}
.hero-text-box h1 {
  margin: 10px 0;
  padding: 0;
  color: white;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
}
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 300;
  border-radius: 200px;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}
.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: #fff;
  border: 1px solid #e67e22;
  margin-right: 25px;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn:hover,
.btn:active {
  color: #fff;
  border: 1px solid #cf6d17;
  background-color: #cf6d17;
}
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
  color: white;
}
.main-nav {
  float: right;
  margin-top: 55px;
  list-style: none;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 90%;
  padding: 8px 0px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
section {
  padding: 80px 0px;
}
h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "  ";
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
}
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}
.box {
  padding: 1%;
}
h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 110%;
  margin-bottom: 15px;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}
.icon {
  color: #e67e22;
  font-size: 350%;
  display: block;
  margin-bottom: 10px;
}
